<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Pandas Options

In [1]:
import pandas as pd

In [2]:
emissions = pd.DataFrame({"country":['China','United States','India'],
          "year":['2018','2018','2018'],
          "co2_emissions":[10060000000.0,5410000000.0,2650000000.0]})

In [3]:
emissions

         country  year  co2_emissions
0          China  2018   1.006000e+10
1  United States  2018   5.410000e+09
2          India  2018   2.650000e+09

In [4]:
pd.set_option('max_rows', 2)
emissions

   country  year  co2_emissions
0    China  2018   1.006000e+10
..     ...   ...            ...
2    India  2018   2.650000e+09

[3 rows x 3 columns]

In [5]:
pd.set_option('max_columns', 2)
emissions

   country  ... co2_emissions
0    China  ...  1.006000e+10
..     ...  ...           ...
2    India  ...  2.650000e+09

[3 rows x 3 columns]

In [6]:
pd.options.display.float_format = '{:,.2f}'.format

In [7]:
emissions

   country  ...     co2_emissions
0    China  ... 10,060,000,000.00
..     ...  ...               ...
2    India  ...  2,650,000,000.00

[3 rows x 3 columns]